.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 31px;
  }
}

.contacts h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.contacts p {
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  margin: 0 30% 42px;

  @media (max-width: $tablet-width) {
    margin: 0 0 20px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 25px;
    padding: 0 25px;
  }
}

.contacts__map {
  margin: 0 auto;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background-blue;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    width: 698px;
    height: 545px;
    background-image: url("../img/map_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map_tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    height: 250px;
    background-image: url("../img/map_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map_mobile@2x.jpg");
    }
  }
}

.contacts__map iframe {
  border: 0;

  @media (max-width: $tablet-width) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    height: 250px;
  }
}
