.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 98px;
  width: 555px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: center;
    padding-bottom: 28px;
    max-width: 457px;
  }
}

.footer__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  color: $link-grey;
  padding: 0 15px 0 37px;
  margin-bottom: 15px;

  &--mail {
    @media (max-width: $mobile-width) {
      padding: 0 0 0 43px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 24px;
  }

  &:hover {
    color: $blue-hover;
  }

  &:active {
    color: $basic-black;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &--tel::before {
    width: 22px;
    height: 24px;
    background: url("../img/phone.svg") 0 0;
  }

  &--mail::before {
    width: 26px;
    height: 20px;
    background: url("../img/email.svg") 0 0;
  }
}
