.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
  margin-left: auto;
  padding-top: 5px;

  @media (max-width: $tablet-width) {
    margin: 8.5% auto 0;
    width: 43%;
  }

  @media (max-width: $mobile-width) {
    margin: 70px auto 0;
    width: 100%;
    max-width: 400px;
    padding: 0 16px;
  }
}

.form fieldset {
  border: none;
  padding: 0;
}

.form p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  opacity: 1;
  padding: 0;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    color: $basic-black;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5%;
    margin-bottom: 20px;
  }
}

.form input {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 19px;
  padding: 12px 25px 10px;
  border: 1px solid $border-grey;
  border-radius: 6px;

  &:hover {
    outline: 2px solid $blue-hover;
  }
}

.form button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $blue;
  width: 100%;
  border-radius: 6px;
  padding: 15px;
  border: 1px solid $border-grey;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }
}
