.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    margin: 10.5% auto 0;
    width: 55%;
  }

  @media (max-width: $mobile-width) {
    margin: 70px auto;
    width: 100%;
    max-width: 400px;
    padding: 0 16px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  opacity: 1;
  padding: 0;
  margin-bottom: 25px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    color: $basic-black;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5%;
  }
}

.form__fieldset input {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 19px;
  padding: 10px 25px;
  border: 1px solid $border-grey;
  border-radius: 6px;
}


.form button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $blue;
  width: 100%;
  border-radius: 6px;
  padding: 15px;
  border: 1px solid $border-grey;
}
