.header {
  position: absolute;
  // background-color: black;
  width: 100%;
  // background-image: url("../img/bike.jpg");
  // background-repeat: no-repeat;
  // background-color: $background-grey;
  // // background-position-x: center;
  // background-size: cover;
  // min-height: 825px;

  // @media (max-width: $tablet-width) {
  //   background-image: url("../img/bike_tablet.jpg");
  //   background-color: $basic-white;
  //   // min-height: 700px;
  //   background-size: contain;
  // }

  // @media (max-width: $mobile-width) {
  //   background-image: url("../img/bike_mobile.jpg");
  //   background-color: $basic-white;
  //   min-height: 780px;
  // }

  @media (max-width: $tablet-width) {
    position: initial;
  }
}

.header__wrapper {
  margin: 1% 19.5%;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    // margin-bottom: 74px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

// .header__wrapper button {
//   @include button-reset;
//   display: none;
//   position: relative;

//   @media (max-width: $tablet-width) {
//     display: block;
//     // background-color: $blue;
//   }
// }

.header__logo {
  position: absolute;
  top: 380%;
  left: 20%;

  @media (max-width: $tablet-width) {
    position: static;
    padding: 25px 20px;
  }
}
