.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: $basic-black;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
}
