.sale {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 875px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    max-width: 100%;
  }
}

.sale__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2%;
  max-width: 950px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin: 0 11.5%;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin: 0 4.5%;
  }
}

.sale__wrapper {
  width: 48%;

  @media (max-width: $tablet-width) {
    width: 100%;

    &--picture {
      background-image: url("../img/bike_tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $background-grey;
      min-height: 340px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bike_tablet@2x.jpg");
      }
    }
  }

  &--picture {
    @media (max-width: $mobile-width) {
      background-image: url("../img/bike_mobile.jpg");
      min-height: 390px;
      background-size: cover;
      background-position: center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bike_mobile@2x.jpg");
      }
    }
  }
}

.sale__wrapper h2 {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: $basic-white;
  margin: 0;
  margin-bottom: 27px;
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin-top: 134px;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 120px;
    margin-bottom: 20px;
  }
}

.sale__wrapper p {
  max-width: 435px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $basic-white;
  opacity: 0.8;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
  }
}

.sale__container {
  width: 38.5%;
  padding-left: 10px;

  @media (max-width: $tablet-width) {
    width: 43%;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.sale__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  padding-top: 5px;

  @media (max-width: $tablet-width) {
    margin: 19.5% auto 0;
  }

  @media (max-width: $mobile-width) {
    margin: 70px auto 0;
    width: 100%;
    max-width: 400px;
    padding: 0 16px;
  }
}

.sale__container label {
  width: 100%;
}

.sale__container p {
  color: $basic-white;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  opacity: 1;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    color: $basic-black;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5%;
    margin-bottom: 20px;
  }
}

.sale__container input {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 19px;
  padding: 13px 30px 10px;
  border: 1px solid $border-grey;
  border-radius: 6px;

  &:hover {
    outline: 2px solid $blue-hover;
  }
}

.sale__container button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $blue;
  width: 100%;
  border-radius: 6px;
  padding: 15px;
  border: 1px solid $border-grey;
  cursor: pointer;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }
}
