.video {
  // position: relative;
  background: linear-gradient(to bottom, $background-black 88%, $basic-white 12%);
  padding-top: 120px;
  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    margin-bottom: 70px;
    background: linear-gradient(to bottom, $background-black 83%, $basic-white 17%);
  }

  @media (max-width: $mobile-width) {
    padding-top: 84px;
    background: linear-gradient(to bottom, $background-black 89%, $basic-white 11%);
    margin-bottom: 72px;
  }
}

.video h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $basic-white;
  margin: 0 0 20px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.video p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: $opacity-white;
  max-width: 340px;
  margin: 0 auto 56px;

  @media (max-width: $tablet-width) {
    margin: 0 auto 40px;
    max-width: 425px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 50px;
    padding: 0 5px;
  }
}

.video img {
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    height: 162px;
  }
}

.video button {
  @include button-reset;
  position: absolute;
  cursor: pointer;
  width: 65px;
  height: 65px;
  background-color: $blue;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 13px 8.5px;
    border-color: transparent transparent #070707 transparent;
    transform: rotate(90deg);
    top: 40%;
    left: 45%;

    @media (max-width: $tablet-width) {
      border-width: 0 12.5px 18px 12.5px;
      left: 40%;
    }

    @media (max-width: $mobile-width) {
      border-width: 0 8.5px 13px 8.5px;
      left: 45%;
    }
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }
}

.video div {
  position: relative;
}
