$basic-white: rgba(255, 255, 255, 1);
$opacity-white: rgba(255, 255, 255, 0.7);
$basic-black: rgba(0, 0, 0, 1);
$background-grey: rgba(28, 28, 28, 1);
$light-grey: rgba(255, 255, 255, 0.2);
$blue: rgb(10, 217, 198);
